@font-face {
    font-family: 'NorseBold';
    src: url('assets/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    background-color: black;
    padding: 0 10px;
    margin: 0;
}

.container{
    margin:0;
    display: flex;
    font-weight: 800;
    height: 700px;

}

.content{
    display: flex;
    flex-direction: column;
}

section{
    padding-left: 30px;
}

section.one{
    padding-top:100px;

}
section.two{
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative; /* ensure shadow is displayed above third section */
    padding-bottom: 20px;
}

section.three{
    padding-top: 20px;
  
}

.image-sidebar{
    position: relative;
    max-height: 100%;
    width: 30%;
    min-width: 200px;
    background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;
}




fieldset{
    border: 0;
    display: flex;
    gap: 30px;
    padding-left: 0;
}

.form-group{
    display: flex;
    flex-direction: column;
    font-variant: small-caps;
    font-size: 12px;
}

p.bold{
    font-weight: 800;
    font-size: 20px;
}

.uneven{
    background-color: rgb(236, 227, 227);
    height: 40%;
}

div.logo{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 190px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 50%);
    padding: 5px;
    font-family: 'NorseBold';
    color: white;
    font-size: 50px;
    gap: 5px;
}

img.logo{
    width: auto;
    height:60%;
}

.credit{
    position:absolute;
    bottom: 10px;
    justify-content: center;
    color: white;
    align-self: center;
}

.credit a{
    color:white;
}

#create-account-button{
    margin: 10px;
    padding: 10px 30px;
    background-color: #596d48;
    text-align: center;
    border-radius: 5px;
    color: rgb(238, 229, 229);
    border: none;
    font-weight: 800;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.three a{
    color:#596d48;
    text-decoration-line: none;
}

input{
    border: 1px solid #E5E7EB;
    outline: none;
    border-radius: 5px;
    height: 20px;
}

input:invalid{
    border: 2px solid red;
}

input:focus{
    border: 1px solid blue;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

