.container{
    display: flex;
    font-weight: 800;

}

.content{
    display: flex;
    flex-direction: column;
}

section{
    padding-left: 30px;
}

.image-sidebar{
    max-height: 100%;
    max-width: 30%;
}

img{
    max-width: 100%;
}


fieldset{
    border: 0;
    display: flex;
    gap: 30px;
    padding-left: 0;
}

.form-group{
    display: flex;
    flex-direction: column;
    font-variant: small-caps;
    font-size: 12px;
}

p.bold{
    font-weight: 800;
    font-size: large;
}

.uneven{
    background-color: rgb(236, 227, 227);
    height: 40%;
}
.opener p{
    margin-top: 100px;
}